.cta {
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 6px 24px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--font-white);
    font-weight: 600;
    text-decoration: none;
}

.cta:hover {
    background-color: var(--primary-hover);
}

@media screen and (min-width: 900px) {
    .cta {
        display: flex;
    }
}