.cta {
    width: fit-content;
    height: fit-content;
    padding: 6px 24px;
    background-color: rgba(0, 102, 255);;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.cta:hover {
    background-color: rgba(0, 102, 255, 0.5);;
}