.header {
    width: 90vw;
    padding: 10px;
    margin: 5px 0;
    position: absolute;
    left: calc(50% - 45vw);
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}