.header {
    width: 90vw;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}