@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-title: 'Exo', sans-serif;
  --font-text: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}