.navMenu__opt {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navMenu__opt__link {
    text-decoration: none;
    cursor: pointer;
}