.modalMenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: var(--bg-dark-1);
    transform: translateX(100%);
}